@model IEnumerable<ExploreUAEDubai.Models.Support>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center heading">View All Support - Frequently Ask Questions</h1>

<p>
    <a asp-action="Create" class="btn btn-warning">Add New Support Question</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-dark" asp-route-id="@item.SupportID">Edit</a> |
                
                <a asp-action="Delete"  class="btn btn-dark" asp-route-id="@item.SupportID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
